* {
    box-sizing: border-box;
}

img {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.nav {
    background-color: grey;
}

.logo {
    position: relative;
    height: 233px;
    margin-top: 47px;
}

.googleSearch {
    width: 450px;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
}

.buttons {
    width: 450px;
    position: relative;
    margin: 0 auto;
}

#search {
    height: 20px;
    width: 450px;
}

#go {
    font-size: 14px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    text-align: center;
}

#lucky {
    font-size: 14px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    text-align: center;
}