* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: grid;
    max-width: 100%;
    position: relative;
    margin: auto;
    grid-template-areas: "nav nav"
                        "logo logo"
                        "bar bar"
                        "footer footer";
    grid-template-columns: 1fr;
    grid-template-rows: 30px 400px 100px 30px;
    
}

.nav {
    background-color: grey;
    grid-area: nav;
}

.logo {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    grid-area: logo;
}

.footer {
    background-color: #f2f2f2;
    grid-area: footer;
}

.googleSearch {
    background-color: yellow;
    grid-area: bar;
}

#search {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

#go {
    font-size: 14px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    text-align: center;
}

#lucky {
    font-size: 14px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    text-align: center;
}