* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #3d3c3c;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin: 10px;
}

a {
    font-size: 13px;
    text-decoration: none;
    color: black;
}

.nav {
    width: 100%;
    padding: 15px;
    top: 0;
}

.leftNav {
    align-items: center;
    float: left;
}

.rightNav {
    float: right;
}

.nav img {

    border-radius: 100%;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 15px;
    background-color: #f2f2f2;
}

.leftFoot {
    float: left;
}

.rightFoot {
    float: right;
}

.logo img {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.logo {
    position: relative;
    height: 233px;
    margin-top: 47px;
}

.googleSearch {
    width: 584px;
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
}

.buttons {
    text-align: center;
    width: 450px;
    position: relative;
    margin: 30px auto;
}

#search {
    display: inline-block;
    height: 44px;
    width: 584px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
}

#go {
    font-size: 14px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    text-align: center;
    padding: 10px;
    margin-right: 5px;
}

#lucky {
    font-size: 14px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    text-align: center;
    padding: 10px;
    margin-left: 5px;
}